/* Custom CSS for claymorphism design */

body{
  background-image: url("a.jpg");
  background-size: 100%
}


.card {
    border-radius: 20px;
    background-color: #F6F6F6;
    border-color: greenyellow;
  
  }
  
.btn {

    width: 40%;
    margin: auto;
    border-radius: 20px;
    background-color: #f8f8f8;
    color: #333333;
    box-shadow: 5px 5px 10px #cfcfcf, -5px -5px 10px #ffffff;
}
  
.btn:hover {
    background-color: #f0f0f0;
}

.container{
  margin-top: 8%;
}

.wel-img{
  width: 150px;
  height: 150px;
  margin: auto;
}