

<body>
    <div class="sidebar claymorphism p-3">
      <img class="name_logo" src="assets/sidebar-icons/name-logo.png" alt="">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link claymorphism p-2" href="#"><img class="nav-icon" src="assets/sidebar-icons/book.png"> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link claymorphism p-2" href="#"><img class="nav-icon" src="assets/sidebar-icons/alarm.png"> Alert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link claymorphism p-2" href="#"><img class="nav-icon" src="assets/sidebar-icons/bell.png"> New Alert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link claymorphism p-2" href="#"><img class="nav-icon" src="assets/sidebar-icons/boy.png"> Farmer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link claymorphism p-2" href="#"><img class="nav-icon" src="assets/sidebar-icons/farmer.png"> New Farmer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link claymorphism p-2" href="#"><img class="nav-icon" src="assets/sidebar-icons/settings.png"> Setting</a>
        </li>
      </ul>


      <div>
        <div class="card-body">
          <div class="weather-forecast-container" >
              <img [src]="getWeatherIcon(weatherData[0]?.Day.IconPhrase)" height="150"/>
              <h2 class="card-title">{{ calculateAverageTemperature(weatherData[0]?.Temperature.Minimum.Value, weatherData[0]?.Temperature.Maximum.Value) | number:'1.0-0' }}&deg;C</h2>
              <h5 class="card-title">{{ weatherData[0]?.Date | date: 'EEEE' }}, {{ currentTime }}</h5>
          </div>
          
          
              
          
          
              
        </div>
      </div>

    </div>




   

   
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>
