/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px 0px;
    padding: 0px 0px
    
}



@font-face {
    font-family: Etna-Sans-serif;
    src: url(assets/font/Etna-Sans-serif.otf) ;
  }

body {
    background-image: url(assets/a.jpg);
    background-size: 100%;
}