<app-sidebar></app-sidebar>

<div class="dash-content">
  

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card p-4">

            <div class="front">

                <p><img class="icon" src="assets/sidebar-icons/farmer.png">New Farmer</p>


            </div>
            
            <form (ngSubmit)="addFarmer()">
                <div class="mb-3">
                  <label for="farmerName">Farmer Name:</label>
                  <input type="text" id="farmerName" name="farmerName" [(ngModel)]="farmerData.farmerName" required>
                </div>
                <div class="mb-3">
                  <label for="farmerAge">Age:</label>
                  <input type="number" id="farmerAge" name="farmerAge" [(ngModel)]="farmerData.farmerAge" required>
                </div>
                <div class="mb-3">
                  <label for="contactNumber">Contact Number:</label>
                  <input type="text" id="contactNumber" name="contactNumber" [(ngModel)]="farmerData.contactNumber" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary etna">Add Farmer</button>
                </div>
            
              </form>
        </div>
      </div>
    </div>
  </div>
  